In [10]:
A='Hello !'
print(A)

B="Hello friends ! "
print(B)

C="""Hello friends,
        Welcome To Python !"""
print(C)

D='''Hello friends,
       My name Amira Frih'''
print(D)

K="Hello friends,\nHow are you ?"
print(K)

M="Hi friends ! ,\tHow are you ?"
print(M)

N="""Hello friends,
        Welcome To \"Python\" !"""
print(N)

T="""Hello friends,
        Welcome To \'Python\' !"""
print(T)

Hello !
Hello friends !
Hello friends,
        Welcome To Python !
Hello friends,
       My name Amira Frih
Hello friends,
How are you ?
Hi friends ! ,	How are you ?
Hello friends,
        Welcome To "Python" !
Hello friends,
        Welcome To 'Python' !

In [20]:
#Methode de chaine de caractere 1
"longeur"
C="""Hello friends,
        Welcome To Python !"""
print("length de text c = ",len(C))

"men Maj vers min"
print(C.lower())  

"men min vers Maj"
print(C.upper())

"remplacer caracter 'e' par car '7'"
print(C.replace("e","7"))

"si tu trouve caractre '...' tu va coupe phase"
H="""Hello friends,  Welcome To Python !"""
print(H.split(" "))
print(H.split(','))

length de text c =  42
hello friends,
        welcome to python !
HELLO FRIENDS,
        WELCOME TO PYTHON !
H7llo fri7nds,
        W7lcom7 To Python !
['Hello', 'friends,', '', 'Welcome', 'To', 'Python', '!']
['Hello friends', '  Welcome To Python !']

In [31]:
#Methode de chaine de caractere 2
'Test de appartenance'
H="Hello friends,  Welcome To Python !"
X="Python" in H
print(X)

L="Welcome To Python" not in H 
print(L)

'Concatenation'
I="Hello friends,"
O="Welcome To Python !"
print(I+O)

age=28
txt="My age is "
print(txt,age)

txt2="My age is {} "
print(txt2.format(age))

txt3="My age is {} .I was born in day {} year {}"
Age=28
day=16
year=1995

print(txt3.format(Age,day,year))

txt4="My age is {1} .I was born in day {0} year {2}"
print(txt4.format(day,Age,year))

True
False
Hello friends,Welcome To Python !
My age is  28
My age is 28
My age is 28 .I was born in day 16 year 1995
My age is 28 .I was born in day 16 year 1995

In [1]:
# transformer un string en liste 
chaine1="BONJOUR:tout:le:monde"
chaine1.split(":")

['BONJOUR', 'tout', 'le', 'monde']

In [2]:
# transformer  liste en un string 
list1=['BONJOUR', 'tout', 'le', 'monde']
";".join(list1)

'BONJOUR;tout;le;monde'